<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>API Console</title>
  <!-- @if NODE_ENV == 'production' -->
  <link href="styles/api-console.min.css" rel="stylesheet" type="text/css">
  <!-- @endif -->
  <!-- @if NODE_ENV == 'development' -->
  <link href="styles/api-console.css" rel="stylesheet" type="text/css">
  <!-- @endif -->
</head>
<body ng-app="ramlConsoleApp">
  <raml-initializer></raml-initializer>
  <!-- @if NODE_ENV == 'production' -->
  <script type="text/javascript" src="scripts/<%= grunt.config.get('package.name') %>-vendor.min.js"></script>
  <script type="text/javascript" src="scripts/<%= grunt.config.get('package.name') %>.min.js"></script>
  <!-- @endif -->
  <!-- @if NODE_ENV == 'development' -->
  <% _.forEach(grunt.file.expand(grunt.config('vendorJsFiles')), function (path) { %>
  <script type="text/javascript" src="<%- path %>"></script>
  <% }) %>
  <% _.forEach(grunt.file.expand(grunt.config('appJsFiles')), function (path) { %>
  <script type="text/javascript" src="<%- path %>"></script>
  <% }) %>
  <!-- @endif -->
  <script type="text/javascript">
    $.noConflict();
  </script>
</body>
</html>
